MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/new_teams_db?retryWrites=true&w=majority
DB_NAME=new_teams_db
SECRET_KEY=change-this-secret
JWT_SECRET_KEY=change-this-jwt-secret
FLASK_ENV=development
UPLOAD_FOLDER=static/uploads
