MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/team_task_db?retryWrites=true&w=majority
DB_NAME=team_task_db
SECRET_KEY=change-this-secret
JWT_SECRET_KEY=change-this-jwt-secret
FLASK_ENV=development
ENABLE_SEED=false
