.env
__pycache__/
*.pyc
venv/
.venv/
env/
instance/
static/uploads/*
!.gitkeep
database/json_data/
scripts/create_super_user.py
scripts/repair_org_relations.py
scripts/repair_team_relations.py
config.py
!.env.example
!config.example.py
!test/
test/*
!test/migrate_atlas_to_local_mongo.py
!test/migrate_local_mongo_to_atlas.py
!test/render.yaml
