Flask
flask-cors
flask-bcrypt
flask-jwt-extended
pymongo
python-dotenv
gunicorn
dnspython
Werkzeug
openpyxl
PyPDF2
python-docx
pdfplumber

flask-socketio
eventlet
faster-whisper
gTTS
sentence-transformers
accelerate
language-tool-python
simple-websocket